.tabs{
  display: flex;
  align-items: flex-start;
}
.tab {
  flex: 1;
  background-color: #282c34;
  color: #fff;
  border: 1px solid #000;
  border-right: 0;
  text-decoration: none;
  padding: 10px;
  text-align: center;
  transition:background-color .2s;
  &.active {
    background-color: #131518;
  }
  &:hover {
    background-color: #1c2025;
  }
  &:last-child {
    border: 1px solid #000;
  }
}
